filelock
huggingface-hub
matplotlib
nltk
numpy
openai
packaging
pinecone
pydantic
PyMuPDF
PyPDF2
PyYAML
python-docx
python-dotenv
requests
streamlit
tokenizers
torch
tqdm
typing_extensions
urllib3
wordcloud
gradio
groq
ollama
transformers